common: &common
  adapter: mysql2
  encoding: utf8
  reconnect: false
  pool: 5
  host: localhost
  username: root
  password:

development:
  <<: *common
  database: fitness_backend_development

test:
  <<: *common
  database: fitness_backend_test

staging:
  <<: *common
  database: fitness_backend_staging

production:
  <<: *common
  database: fitness_backend
